<footer>
    <h2>Let's connect!</h2>
    <h4>Hit me up at {{email}} :)</h4>
    <span>in</span>
    <span>dribble</span>
    <span>twitter</span>
    <div class="small-text footer-author">
        <p>Made by {{author}}</p>
        <p>All content and images © Copyright {{ site.copyright.from }}-2021, {{ site.copyright.name }}</p>
        <p>See <a href="https://developers.google.com/speed/pagespeed/insights/?url={{site.url}}{{ page.url }}">Google
                PSI Results</a>.</p>
    </div>
</footer>